.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout main {
  flex: 1;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0;
  padding-top: 0;
}
